<div id="wrapper">
  <div id="main-container">
    <div id="overlay"></div>
    <h1>{{this.ls.translate('CONTACTS')}}</h1>
  </div>
  <div id="contact-area">
    <div id="contact-details">
      <h3>{{this.ls.translate('ADDRESS')}}</h3>
      <p>{{this.ls.translate('ADDRESS_DETAILS_LINE1')}} <br/>{{this.ls.translate('ADDRESS_DETAILS_LINE2')}} <br/></p>
      <h3>{{this.ls.translate('CONTACTS_FOR_CONTACTS')}}</h3>
      <p>{{this.ls.translate('FOR_CONTACTS_NAME')}} <br/>+35952 607691<br/>
        <a href="">solusvarna@gmail.com</a></p>
      <h3>{{this.ls.translate('CONTACTS_FOLLOW_US')}}</h3>
      <div id="social-media-icons">
        <div id="fcb">
          <img [src]="'assets/images/sm-icons/facebook-logo-button.png'" alt=""
               (click)="redirectToFcb()">
        </div>
      </div>
    </div>
    <div id="form-wrapper">
      <form id="form" #userForm="ngForm">
        <div id="name-phone-wrapper">
          <div class="form-group1">
            <input type="text" [placeholder]="this.ls.translate('CONTACTS_CONTACT_FORM_NAME')" required #name="ngModel" id="name" class="form-control"
                   name="userName" ngModel>
            <div class="alert alert-danger" *ngIf="name.touched && !name.valid">{{this.ls.translate('CONTACTS_CONTACT_FORM_NAME_WARNING')}}</div>
          </div>
          <div class="form-group1">
            <input type="tel" [placeholder]="this.ls.translate('CONTACTS_CONTACT_FORM_PHONE')" required #phone="ngModel" id="phone" class="form-control"
                   name="phone" ngModel>
            <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">{{this.ls.translate('CONTACTS_CONTACT_FORM_PHONE_WARNING')}}</div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" [placeholder]="this.ls.translate('CONTACTS_CONTACT_FORM_EMAIL')" required #email="ngModel" id="email" class="form-control"
                 name="email" ngModel>
          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">{{this.ls.translate('CONTACTS_CONTACT_FORM_EMAIL_WARNING')}}</div>
        </div>
        <div class="form-group">
          <input type="text" [placeholder]="this.ls.translate('CONTACTS_CONTACT_FORM_SUBJECT')" id="subject" class="form-control" name="subject" ngModel>
        </div>
        <div class="form-group">
          <textarea name="message" class="form-control" [placeholder]="this.ls.translate('CONTACTS_CONTACT_FORM_MESSAGE')" required #message="ngModel"
                    id="message" cols="30" rows="10" ngModel></textarea>
          <div class="alert alert-danger" *ngIf="message.touched && !message.valid">{{this.ls.translate('CONTACTS_CONTACT_FORM_MESSAGE_WARNING')}}</div>
        </div>
        <button class="btn btn-dark" type="submit">{{this.ls.translate('CONTACTS_CONTACT_FORM_SEND')}}</button>
      </form>
    </div>
  </div>
  <div id="map-section">
<!--    TODO: Add to constant in the class-->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.9611640339203!2d27.910611415313035!3d43.21030388897482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a45474ee9de73f%3A0xaacb55f1833aaeb9!2z0KHQvtC70YPRgSDQtNC40LfQsNC50L0!5e0!3m2!1sbg!2sbg!4v1568365925388!5m2!1sbg!2sbg"
      width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <app-footer></app-footer>
</div>
