<div id="about-us">
  <div id="text-about-us">
    <h2>ЗА НАС</h2>
    <p>Солус Дизайн е водеща компания в производството на висококачествена корпусна мебел. Затвърждаваме повече от 20
      години позицията си на пазара благодарение на иновационно мислене, професионализъм и персонално отношение към
      всеки клиент.</p>
  </div>
</div>
<div id="second-window">
  <p>НИЕ ПРЕДЛАГАМЕ СТАНДАРТНО ОБЗАВЕЖДАНЕ НА СПАЛНИ, КУХНИ И ДЕТСКИ СТАИ КАКТО И МЕБЕЛИ ПО ИНДИВИДУАЛЕН ПРОЕКТ.<br><br>
    НАШАТА ОСНОВНА ЦЕЛ Е ДА СЪДЕЙСТВАМЕ НА КЛИЕНТИТЕ СИ В ИЗГРАЖДАНЕТО НА МЕЧТАНИЯ ОТ ТЯХ ДОМ КАТО ИЗПОЛЗВАМЕ
    ЗНАНИЯТА СИ В ОБЛАСТТА НА ИНТЕРИОРЕН И ИНЖЕНЕРЕН ДИЗАЙН.</p>
</div>
