<div id="wrapper">
  <div id="about-us">
    <div id="text-about-us">
      <h3>{{this.ls.translate('ABOUT')}}</h3>
      <p>{{this.ls.translate('ABOUT_COVER')}}</p>
    </div>
  </div>
  <!--  TODO: Where is the first window?-->
  <div id="second-window">
    <!--    TODO: where is ABOUT_COVER1? also should be _1-->
    <p>{{this.ls.translate('ABOUT_COVER2')}}</p>
  </div>
  <div id="our-partners" *ngIf="partnerService.partners">
    <h3>{{this.ls.translate('ABOUT_PARTNERS')}}</h3>
    <div id="grid">
      <div id="column" *ngFor="let column of partnerService.partners">
        {{column.key}}
        <div id="logos" *ngFor="let partner of column.partners; let i = index" (click)="redirect(partner)">
          <img [src]="column.imgUrl+i+'.jpg'" alt="">
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
