$white: #fff;
$grey: #aaa;
$blue1: #c2cae4;
$blue2: #9496a3;
$blue3: #a1aed0;
$blue4: #587cb4;
//$blue5: #627798;
$blue5: #a1aed0;
$blue6: #131a2d;
$blue7: rgba(89, 124, 180, 0.3);
$blue8: #3c5580;
$line-gradient: linear-gradient(to right, rgba(88, 124, 180, 0) 0%, rgba(88, 124, 180, 1) 25%, rgba(88, 124, 180, 1) 75%, rgba(125, 185, 232, 0) 100%);
$settings-bg: rgba(28, 37, 51, 0.93);
$strip-bg: rgba(#131820, 0.7);
