@import "../../mixins";
@import "../../constants";
@import "../../responsive";

#footer-content{
  position: relative;
  bottom: 0;
  @include center(true, false);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(22, 22, 22);
  color: #ffffff;
  font-family:  Arial, sans-serif;
  @include removeDrag;
  @include removeSelection;
  @include less-than(tablet){
    flex-direction: column;
    height: 500px;
    text-align: center;
  }

  #footer-logo{
    position: relative;
    h3{
      font-size: 2em;
      font-weight: bolder;
    }
  }

  #address{
    position: relative;
    width: 150px;
  }

  #contacts{
    position: relative;
    width: 150px;
  }
}

