@import "../../../shared/mixins";
@import "../../../shared/constants";
@import "../../../shared/responsive";

#menu-languages{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  top: 20px;
  right: 40px;
  color: #232323;
  @include removeDrag;
  @include removeSelection;
  @include less-than(desktop){
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
    right: 20px;
  }

  .language{
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  #menu-icon-container {

    #menu-icon {
      width: 30px;
      height: 30px;
      @include less-than(desktop){
        width: 20px;
        height: 20px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#expanded-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  @include removeDrag;
  @include removeSelection;

  #menu-content {
    position: absolute;
    @include center (true, true);
    display: flex;
    flex-direction: column;

    span {
      font-family: "Arial Black", sans-serif;
      font-size: 5em;
      color: white;
      line-height: 1.6em;
      width: 100%;
      text-align: center;
      @include removeOutline;
      @include less-than(tablet){
        font-size: 3em;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}
