<div id="expanded-menu" *ngIf="menuOn">
  <div id="menu-content">
    <span [routerLink]="ls.currentLanguageKey + '/home'" (click)="closeMenu()">{{ls.translate('MENU_HOME')}}</span>
    <span [routerLink]="ls.currentLanguageKey + '/projects'" (click)="closeMenu()">{{ls.translate('MENU_PROJECTS')}}</span>
    <span [routerLink]="ls.currentLanguageKey + '/gallery'" (click)="closeMenu()">{{ls.translate('MENU_GALLERY')}}</span>
    <span [routerLink]="ls.currentLanguageKey + '/about'" (click)="closeMenu()">{{ls.translate('MENU_ABOUT')}}</span>
    <span [routerLink]="ls.currentLanguageKey + '/contacts'" (click)="closeMenu()">{{ls.translate('MENU_CONTACTS')}}</span>
  </div>
</div>
<div id="menu-languages">
  <div class="language" (click)="ls.setLanguage('bg')" *ngIf="!menuOn">BG</div>
  <div class="language"(click)="ls.setLanguage('en')" *ngIf="!menuOn">EN</div>
  <div id="menu-icon-container" (click)="toggleMenu()">
    <img id="menu-icon" [src]="menuOn ? X_URL : SANDWICH_URL" alt="">
  </div>
</div>
