<div id="expanded-menu" *ngIf="menuOn">
  <div id="menu-content">
    <span [routerLink]="this.ls.currentLanguageKey + '/home'" (click)="closeMenu()">{{this.ls.translate('MENU_HOME')}}</span>
    <span [routerLink]="this.ls.currentLanguageKey + '/projects'" (click)="closeMenu()">{{this.ls.translate('MENU_PROJECTS')}}</span>
    <span [routerLink]="this.ls.currentLanguageKey + '/gallery'" (click)="closeMenu()">{{this.ls.translate('MENU_GALLERY')}}</span>
    <span [routerLink]="this.ls.currentLanguageKey + '/about'" (click)="closeMenu()">{{this.ls.translate('MENU_ABOUT')}}</span>
    <span [routerLink]="this.ls.currentLanguageKey + '/contacts'" (click)="closeMenu()">{{this.ls.translate('MENU_CONTACTS')}}</span>
  </div>
</div>
<div id="menu-languages">
  <div class="language" (click)="this.ls.setLanguage('bg')" *ngIf="!this.menuOn">BG</div>
  <div class="language"(click)="this.ls.setLanguage('en')" *ngIf="!this.menuOn">EN</div>
  <div id="menu-icon-container" (click)="toggleMenu()">
    <img id="menu-icon" [src]="this.menuOn ? this.X_URL : this.SANDWICH_URL" alt="">
  </div>
</div>
