@import "../../../shared/mixins";
@import "../../../shared/constants";
@import "../../../shared/responsive";

#projects-container {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 0;
  align-content: flex-start;

  .projects {
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  .card {
    margin-bottom: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}
